<div class="container">
  <header>></header>
  <img style="-webkit-user-select: none;margin: auto;" src="https://i5.walmartimages.com/asr/90fa302d-86df-40b2-b591-a1992fb97f5e_1.395b0217a04fbfdc123557481c1bc237.jpeg?odnWidth=450&amp;odnHeight=450&amp;odnBg=ffffff">
  <div class="col-md-8 col-md-offset-2"> 
    <h2>The laundry Basket Start Page </h2>

    <div class="content">
  
    
      Here is an APP to help sort your laundry with your fingers tips. Simply fill out your laundry basket form
      with your items and update and edit them.  .
        Your Item choices can then be sorted or categorised if so desired.
       
        <h4>Please sign up or log in to start sorting your laundry</h4>
  <a href="/registrations/signup">Sign Up</a>
  <br>
  <a href="/sessions/login">Log In</a>
        </div>
    